Repository open-contracting/credere-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

ci: Add dependabot.yml
  .github/dependabot.yml
Due: none

fix: back button in docs page
  src/api/public.ts
  src/hooks/useSelectCreditProduct.ts
  src/pages/msme/UploadDocuments.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: add more statistics to OCP user
  src/components/Charts.tsx
  src/index.css
  src/pages/ocp/HomeOCP.tsx
  src/schemas/statitics.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: add fathom analytics
  index.html
Due: prettier --write

fix: use credere email instead of engage in about page
  src/pages/AboutPage.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: download csv of ocp statistics
  src/constants/index.ts
  src/pages/ocp/HomeOCP.tsx
  src/util/index.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: reorganize and add more statistics
  src/pages/ocp/HomeOCP.tsx
  src/schemas/statitics.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

ci: Add automerge workflow
  .github/workflows/automerge.yml
Due: none

ci: Allow major upgrades to github-actions
  .github/workflows/automerge.yml
Due: none

ci: Fix github-actions to github_actions
  .github/workflows/automerge.yml
Due: none

ci: Upgrade dependabot/fetch-metadata
  .github/workflows/automerge.yml
Due: none

ci: Auto-merge pre-commit-ci[bot] PRs
  .github/workflows/automerge.yml
Due: none

ci(automerge): Prevent workflow from running if pre-commit-ci[bot] performs autofix
  .github/workflows/automerge.yml
Due: none

feat: add images for new email template
  public/credere-header.png
  public/new1.png
  public/news2.png
Due: none

build: Remove yarn, per handbook (synp --source-file yarn.lock && npm install)
  .gitignore
  Dockerfile
  README.md
  package-lock.json
  yarn.lock
Due: none

build: Run npm audit fix
  package-lock.json
Due: none

build: Run npm audit fix --force (upgrades transifex/native)
  package-lock.json
  package.json
Due: none

feat: add Escala Capital logo
  public/images/lenders/escala_capital.png
Due: none

fix: remove loans dates validation
  src/pages/msme/ViewCreditOptions.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: add BIG borrower type
  src/constants/index.ts
  src/schemas/OCPsettings.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: update terms and conditions to replace MSME with supplier
  src/pages/msme/TermsAndConditions.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: add procurement_method_category_to_exlucude
  src/api/private.ts
  src/constants/index.ts
  src/pages/ocp/CreditProductForm.tsx
  src/schemas/OCPsettings.ts
  src/schemas/application.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: add defaut pre approval message to lender form
  src/pages/ocp/LenderForm.tsx
  src/schemas/OCPsettings.ts
  src/schemas/application.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

feat: new general supplier copy and statistics
  public/intro_email_header.png
  src/components/ApplicationTableDataBorrowerRow.tsx
  src/components/DataAvailability.tsx
  src/constants/faq-questions.ts
  src/pages/fi/ApplicationCompleted.tsx
  src/pages/fi/HomeFI.tsx
  src/pages/fi/ReviewContract.tsx
  src/pages/fi/StageFiveApproved.tsx
  src/pages/fi/StageFiveRejected.tsx
  src/pages/fi/StageFour.tsx
  src/pages/fi/StageOne.tsx
  src/pages/fi/StageThree.tsx
  src/pages/fi/StageTwo.tsx
  src/pages/fi/ViewApplication.tsx
  src/pages/msme/IntroMsme.tsx
  src/pages/ocp/ApplicationDetail.tsx
  src/pages/ocp/Applications.tsx
  src/pages/ocp/CreditProductForm.tsx
  src/pages/ocp/HomeOCP.tsx
  src/pages/ocp/LenderForm.tsx
  src/pages/ocp/Settings.tsx
  src/pages/ocp/UserForm.tsx
  src/schemas/statitics.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

fix: use correct keys for statistics CSV file
  src/pages/ocp/HomeOCP.tsx
  src/schemas/statitics.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

fix: Reduce coupling with SQL generated by SQLAlchemy
  src/components/UserList.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

fix: Align default application sort field with backend
  src/components/ApplicationsList.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

fix: remove non used statistics
  src/pages/ocp/HomeOCP.tsx
  src/schemas/statitics.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Add robots.txt https://yoast.com/ultimate-guide-robots-txt/
  public/robots.txt
Due: none

feat: add borrower annual revenue field
  src/components/ApplicationBorrowerTable.tsx
  src/components/ApplicationTableDataBorrowerRow.tsx
  src/pages/msme/ViewCreditOptions.tsx
  src/schemas/application.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

fix: apply suggestions for code review
  src/components/ApplicationBorrowerTable.tsx
  src/pages/msme/ViewCreditOptions.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

Update src/pages/msme/ViewCreditOptions.tsx
  src/pages/msme/ViewCreditOptions.tsx
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Remove user registration scaffolding
  src/api/auth.ts
  src/schemas/auth.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Remove lender preferences code (removed in fba94bb)
  src/schemas/OCPsettings.ts
  src/util/index.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Remove unused EXTRA_KEYS
  src/constants/index.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Move DOCUMENT_TYPES_NAMES after DOCUMENTS_TYPE
  src/constants/index.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Remove unused STATUS_GROUPS
  src/schemas/statitics.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs

chore: Move GetCreditProductsOptionsInput after CreditOptionsInput
  src/schemas/application.ts
Due: eslint --fix src --ext ts,tsx --report-unused-disable-directives -c .eslintrc.cjs
